<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/proj.css">
		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">

	</head>
	<body ng-controller="projectController">
		<header>
			<p class="header_name">Проекты</p>
			<button class="but" data-toggle="modal" data-target=".bs-example-modal-sm">
				<img src="images/plus.png" class="img-responsive" id="image">
			</button>

		</header>
		<div class="project" ng-repeat="project in projects" ng-click="go(project.id)">
			<p class="project-name" ng-bind="project.name">Name</p>
			<p class="project-name count" ng-bind="project.peopleCount">08</p>
		</div>
		<!-- Small modal -->


		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
				<div class="modal-header">
		         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		         <h4 class="modal-title">Новый проект</h4>
		       </div>
		       <div class="modal-body">
		          <p>Название проекта</p>
				 	 		<input type="text" class="form-control" ng-model="project_name">
							<p>Описание проека</p>
				 	 		<textarea name="name" class="form-control" rows="8" cols="40" ng-model="project_description"></textarea>
		       </div>
		       <div class="modal-footer">
		         <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
		         <button type="button" class="btn btn-info">Сохранить изменения</button>
		       </div>
		    </div>
		  </div>
		</div>


		<script src="../node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

		<script src="../node_modules/angular/angular.min.js" charset="utf-8"></script>
		<script src="../node_modules/angular-route/angular-route.js" charset="utf-8"></script>

		<script src="../app.js" charset="utf-8"></script>
		<script src="Controllers/projectController.js" charset="utf-8"></script>
	</body>
</html>
