<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/int.css">
		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">

	</head>
	<body ng-controller="interviewController">
		<header>
			<p class="header_name">Опрошенные</p>
			<img src="images/plus.png" class="img-responsive" id="image">
		</header>
		<div class="project" ng-repeat="interview in interviews" ng-click="inter_info(interview.id)">
			<p class="project-name" ng-bind="interview.name">Vasya</p>
			<p class="project-name count" ng-bind="interview.age">19</p>
			<p class="project-name prof" ng-bind="interview.profession">Программист</p>
		</div>



		<script src="../node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

		<script src="../node_modules/angular/angular.min.js" charset="utf-8"></script>
		<script src="../node_modules/angular-route/angular-route.js" charset="utf-8"></script>

		<script src="../app.js" charset="utf-8"></script>
		<script src="Controllers/interviewController.js" charset="utf-8"></script>


	</body>
</html>
